.tags-container {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.problem-tags-chip {
  background-color: #e3b7fc !important;
  color: rgb(0, 0, 0) !important;
  margin-right: 5px;
  font-size: 15px !important;
  height: 25px !important;
  /* border-radius: 0 !important;  */
}


.divider {
  height: 1px;
  width: 100%;
  background-color: #d8d8d8;
  margin-top: 15px;
  margin-bottom: 10px;
}

.description-content {
  font-size: 15px;
  font-family: "Maven Pro", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-bottom: 30px;
}

.examples-container{
font-family: "Roboto Mono", monospace;
margin-bottom: 30px;
font-size: 14px;
}
.constraints-container {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.constraints-container ul {
  list-style-type: disc;
  margin-left: 20px;
}