/* Add custom CSS to adjust card width and height */
.custom-card {
  width: 100%; 
  max-height: 100px; 
  overflow-y: auto; 
}
.profile_grid_container{
  background-color: rgba(228, 228, 228, 0.947);
}
