@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Concert+One&family=Kanit:ital,wght@0,400;1,500&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Signika:wght@600&family=Tektur:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto+Mono:wght@100;200&display=swap");


.text-3xl {
  font-size: 24px;
}

.font-bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}



